/* colors sampled from: https://www.worldatlas.com/articles/types-of-sand-dunes.html
  sky and mountain:
  #E0EFF2
  #CFEDF5
  #BCE7F8
  #ACDEF7
  #78AEF4
  #5E8FD1
  #375394
  #395491

  #1B1A0B

  dune light to shade:
  #F09F45
  #EB9947
  #E49946
  #D17B14
  #C66D07
  #B66808
  #8F4B0A
  #4F1700
  #431300
*/

html, body, #app {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

body {
    /* background-color: #5E8FD1; */
    background-color: #1B1E31;
    font-family: monospace;
}

.canvas {
    height: 0px;
    width: 0px;
    overflow: visible;
}

.app {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.left-nav {
    height: 100%;
    background-color: #000;
    position: fixed;
    z-index: 2;
    top: 0;
    left: -100px;
    color: #FFF;
    opacity: 0.7;
    animation: nav-slide 0.25s forwards;
}

@keyframes nav-slide { 100% { left: 0;}}

.minimized-left-nav {
    position: fixed;
}

.node-panel {
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 2;
    background-color: #000;
    color: #FFF;
    opacity: 0.7;
}

.add-btn {
    user-select: none;
    background-color: #5B6976;
    border: solid 1px;
    text-align: left;
    padding: 8px;
    margin: 8px;
}

.delete-btn {
    user-select: none;
    background-color: #FF3333;
    max-width: 128px;
    border: solid 1px;
    text-align: left;
    padding: 8px;
    margin: 8px;
}

.node {
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.node-header {
    background-color: #DCB78B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
}

/* #E79434 */
.node-io {
    display: flex;
    flex-direction: row;
}

.inlet {
    display: flex;
    flex: 1;
    border-top: solid 1px;
    background-color: #91654A;
    border-color: #444;
    padding: 8px;
    min-width: 24px;
    min-height: 24px;
    justify-content: right;
    align-items: center;
}

.selected-inlet {
    background-color: #abc;
}

.outlet {
    display: flex;
    flex: 1;
    background-color: #B3895F;
    border-top: solid 1px;
    border-color: #444;
    padding: 8px;
    min-width: 24px;
    min-height: 24px;
    justify-content: center;
    align-items: center;
}

.selected-outlet {
    background-color: #abc;
}

.selected-add-btn {
    background-color: #3C3;
}

.inlets {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.outlets {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

svg {
    z-index: -1;
    position: relative;
    overflow: visible;
    pointer-events: none;
}

path {
    stroke: #888;
    stroke-width: 1;
    fill: transparent;
    stroke-dasharray: 4;
    stroke-dashoffset: -32;
    animation: dash 3s linear infinite;
}

line {
    stroke: #888;
    stroke-width: 1;
}

@keyframes dash { to { stroke-dashoffset: 0;}}
