^{:css-dirs ["resources/public/css"]
  :connect-url "ws://[[client-hostname]]:[[server-port]]/figwheel-connect"
  :target-dir "resources"
  :open-url false
  ;; :pprint-config true
  }
{:main baliset-ui.core}
